@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
}

body {
  font-family: 'Poppins', sans-serif;
}

@layer components {
}
